# ==========================
# Node
# ==========================
node_modules/
dist/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Backup
# ==========================
*.bak
*.bak*
*.old
*.orig
*.tmp
*.debug*

# ==========================
# Runtime
# ==========================
agent/data/
tmp/

# ==========================
# Local Debug
# ==========================
frontend/public/debug/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db
